<!-- 
  Name: Angelo Caster M. Carino
  Student ID: 301223955
  Assignment 1: Express Portfolio Site
-->
<!-- ABOUT.EJS body content section -->
<head>
    <style>
        body {
            background-color:lightgray;
        }
   
   </style>

</head>
<div class="container" style="padding-top: 20px;">
    <h2><strong><span style = "font-size: 60px">A</span>BOUT ME</strong></h2>
    <table>
        <!-- My personal image -->
        <img src="./Assets/images/caster.jpg" alt="" width="250" height="300" style = "border: 2px solid black; border-style: double;">
        <br>
        <br>
        <tr>
            <td><strong>Name: </strong> </td>
            <td> Angelo Caster M. Carino </td>
        </tr>

        <tr>
            <!-- Short paragraph of who I am -->
            <td valign="top"><strong> Information: </strong> </td>
            <td>My name is Angelo Caster M, Carino and I am 19 years old.<br>
                I am an international student from the Philippines that is currently studying in Canada.
                The program that I am taking is Software Engineering Technician that is a 2 year program course.
               
            </td>
        </tr>

        <tr>
            <!-- Link to my resume (PDF version) -->
            <td><strong> Resume: </strong></td>
            <td><a href="./Assets/pdf/resume.pdf"> Click here </a></td>
            <td></td>
        </tr>
    </table>
</div>