<!-- 
  Name: Angelo Caster M. Carino
  Student ID: 301223955
  Assignment 1: Express Portfolio Site
-->
<!-- ABOUT.EJS body content section -->
<div class="container" style="padding-top: 20px;">
    <h2><strong>About me</strong></h2>
    <table>
        <!-- My personal image -->
        <img src="./Assets/images/caster.jpg" alt="" width="250" height="300">
        <tr>
            <td><strong>Name: </strong> </td>
            <td> Angelo Caster M. Carino </td>
        </tr>

        <tr>
            <!-- Short paragraph of who I am -->
            <td valign="top"><strong> About me: </strong> </td>
            <td>I'm Jenyll Mabborang and I'm 24 years old.<br>
                I'm an international student from the Philippines and currently enrolled in
                Software Engineering Technology course at Centennial College. <br>
                I was born and raised in Cagayan Valley located in the Northern part of the Philippines and also known us 
                "The land of smiling beauty".<br>
                I decided to pursue further study in Canada because technology here is more advance compare in my home country. <br>
                I know that I could equipped better knowledge and skills here and I can say now that I'm not wrong.
            </td>
        </tr>

        <tr>
            <!-- Link to my resume (PDF version) -->
            <td><strong> Resume: </strong></td>
            <td><a href="./Assets/pdf/resume.pdf"> Click here </a></td>
            <td></td>
        </tr>
    </table>
</div>