<!-- 
  Name: Angelo Caster M. Carino
  Student ID: 301223955
  Assignment 1: Express Portfolio Site
-->
<!-- ABOUT.EJS body content section -->
<head>
    <style>
        body {
            background-color:lightgray;
        }
        .div1 {
            border: 1px solid black;
            padding: 16px;
            background-color: grey;
        }
   
   </style>

</head>
<div class="container" style="padding-top: 20px;">
    <h2><strong><span style = "font-size: 60px">A</span>BOUT ME</strong></h2>
    <table>
        <!-- My personal image -->
        <img src="./Assets/images/caster.jpg" alt="" width="250" height="300" style = "border: 2px solid black; border-style: double;">
        <br>
        <br>
        
        <tr>
            <div class = "div1"></div>
            <td><strong>Name: </strong> </td>
            <td> Angelo Caster M. Carino </td>
        </tr>

        <tr>
            <!-- Short paragraph of who I am -->
            <td valign="top"><strong> Information: </strong> </td>
            <td>My name is Angelo Caster M, Carino and I am 19 years old.<br>
                I am an international student from the Philippines that is currently studying in Canada.
                The program that I am taking is Software Engineering Technician that is a 2 year program course.
                I was raised and born in the area od Manila, which is the main capital of the Philippines.
                I was 17 years old the time it was planned that I will continue my studies here in Canada.
                I am looking forward for all the knowledge and skills that I will learn here in Centennial College.
            </td>
        </tr>

        <tr>
            <!-- Link to my resume (PDF version) -->
            <td><strong> Resume: </strong></td>
            <td><a href="./Assets/pdf/Resume-Angelo-Caster-M-Carino.pdf"> Click here </a></td>
            <td></td>
        </tr>
    </table>
    </div>
</div>
