<!-- 
  Name: Angelo Caster M. Carino
  Student ID: 301223955
  Assignment 1: Express Portfolio Site
-->

<!-- HOME.EJS body content section -->
<head>
    <style>
        body {
            background-color:lightgray;
        }
        .div1 {
            border: 1px solid black;
            border-radius: 12px;
            padding: 6px;
            background-color: grey;
            text-align: center;
       
           
        }
   
   </style>

</head>

<div class="container" style="padding-top: 20px;">
    <!-- Welcome Message -->
    <div class = "div1">
    <h2><strong>Welcome to my personal homepage portfolio.</strong></h2> <br>
</div>
<br>
<br>
<br>
<br>
<center>
    <p>I'm happy to know that you find time to visit my webpage. <br>
    <!-- Link to my about page -->
    You can <a href="./about"> click here </a> to get to know more about me.</p> <br><br><br><br>
    
    <!-- Mission Statement -->
    <div class = "div1">
    <h4> <strong>Mission</strong> </h4>
</div>
<br>
<br>
    <p> I am a software engineering technician student who has a passion in everything that he will face in his life.
        The time that I will graduate from Centennial College, I will utilize and used the knowledge and skills that 
        I have acquired. I will strive for success and make the best out of everything. </p>
</div>
</center>