<!-- 
  Name: Angelo Caster M. Carino
  Student ID: 301223955
  Assignment 1: Express Portfolio Site
-->

<!-- HOME.EJS body content section -->
<head>
    <style>
        body {
            background-color:lightgray;
        }
        .div1 {
            border: 1px solid black;
            border-radius: 12px;
            padding: 6px;
            background-color: grey;
            text-align: center;
       
           
        }
   
   </style>

</head>

<div class="container" style="padding-top: 20px;">
    <!-- Welcome Message -->
    <div class = "div1">
    <h2><strong>Welcome to my personal homepage portfolio.</strong></h2> <br>
</div>
<br>
<br>
<br>
<br>
<center>
    <p>I'm happy to know that you find time to visit my webpage. <br>
    <!-- Link to my about page -->
    You can <a href="./about"> click here </a> to get to know more about me.</p> <br><br><br><br>
    
    <!-- Mission Statement -->
    <h4> <strong>Mission</strong> </h4>
    <p>I'm a software engineering technology student who's passionate about programming and design. <br>
    When I graduate, I want to work in a company that could utilize my skills. <br>
    Also, I will constantly strive to deliver the best output possible and I'm open to work in any location.</p>

    <p> </p>
</div>
</center>