<!-- 
  Name: Angelo Caster M. Carino
  Student ID: 301223955
  Assignment 1: Express Portfolio Site
-->

<!-- PROJECTS.EJS body content section -->
<head>
    <style>
        body {
            background-color:lightgray;
        }
        .div1 {
            border: 1px solid black;
            padding: 16px;
            background-color: grey;
        }
   
   </style>

</head>

<div class="container" style="padding-top: 20px;">
    <h2><strong> My Projects </strong></h2>

    <!-- List of all my projects inside a table-->
    <table>
        <tr>
            <td><img src="./Assets/images/java.png" alt="" width="100" height="130"></td>
            <td><strong> Simple Java Application</strong> <br>
                This Application is just an implementation of variables and constructors<br>
                Role: Object-Oriented Programming
            </td>
        </tr>
        <br>

        <tr>
            <td><img src="./Assets/images/db.png" alt="" width="200" height="130"></td>
            <td><strong> Advance Database Concepts </strong> <br>
                This Application is an implementation of organizing information with the use of queries<br>
                Role: Organizing and command
            </td>
        </tr>
        
        <tr>
            <td><img src="./Assets/images/current.png" alt="" width="200" height="130"></td>
            <td><strong> Current Project</strong> <br>
                A Application that is built with the use of NodeJs and Express <br>
                Role: JavaScript and Design
            </td>
        </tr>
    </table>
</div>