<!-- 
  Name: Angelo Caster M. Carino
  Student ID: 301223955
  Assignment 1: Express Portfolio Site
-->

<!-- SERVICES.EJS body content section -->
<div class="container" style="padding-top: 20px;">
    <h2><strong> My Services</strong></h2><br>
    
    <!-- A short list of services I offer -->
    <table>
        <ol>
            <li>Website Application Development</li>
            <li>Mobile Application Development</li>
            <li>Database Development</li>
        </ol>
    </table>
</div>