<!-- 
  Name: Angelo Caster M. Carino
  Student ID: 301223955
  Assignment 1: Express Portfolio Site
-->
<head>
    <style>
        body {
            background-color:lightgray;
        }
        .div1 {
            border: 1px solid black;
            padding: 16px;
            background-color: grey;
        }
   
   </style>

</head>
<!-- SERVICES.EJS body content section -->
<div class="container" style="padding-top: 20px;">
    <h2><strong> My Services</strong></h2><br>
    
    <!-- A short list of services I offer -->
    <table>
        <ol>
            <li>Front End Development</li>
            <li>Web Design Development</li>
            <li>Project Management</li>
        </ol>
    </table>
</div>